<html>
<head>
  <title>Edit Blog</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bootstrap/css/fontawesome-all.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
  <div class="container">
   <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
     <a class="navbar-brand" href="/">My Blog</a>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/blogList">List Blogs</a>
        <a class="nav-item nav-link active" href="/blogAdd">Add Blog</a>
      </div>
    </div>
  </nav>
  <br>
  <div class = "card" style = "width: 50%">
    <br>
    <form method = "post" action = "/blogDelete/<%=blog._id%>"+ style = "padding: 20px">
      <div class="form-group">
        <label for="blogTitle">Blog Title</label>
        <input readonly type="text" class="form-control" name="blogTitle" id="blogTitle" value = "<%=blog.blogTitle%>" required >
      </div>
      <div class="form-group">
        <label for="blogText">Bolg Text</label>
        <textarea readonly type="text" class="form-control" name="blogText" id="blogText" required> <%=blog.blogText%> </textarea>
      </div>
      <a role="button" class="btn btn-primary" href="/blogList">Cancel</a>
      <button type="submit" class="btn btn-danger float-right">Delete</button>
    </form>
  </div>

</div>
</body>
<script src="/bootstrap/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</html> 